@import "../../index.scss";

.createTweetContainer {
  padding: 0;

    .createTweetHeader {
      border-bottom: 1px solid $borderClr;
      width: 100%;
      color: $color;
      padding: 11px;

      a {
        padding-left: 10px;
      }
    }
}
@media screen and (min-width: 576px) {
  .createTweetContainer {
    display: none;
  }
}
