.container {
  height: 100%;
  max-height: 100vh;

  & > * {
    padding: 0;
  }
}


.comment {
  display: flex;
  justify-content: center;
  background: rgba(92, 92, 92, 0.276);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 15px 0 0;

  z-index: 9999;

  .commentWrapper {
    background: #fff;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding: 15px;
  }

}