@import "../../pages/Home/style.module.scss";
@import "../../index.scss";

.main {

  border: 1px solid $borderClr;
  border-top: none;
  border-bottom: none;
  position: relative;
  top: 0;
  min-height: 100%;
  height: fit-content;

  .header {
    padding: 10px;
    padding-left: 1.3em;
    background: #fff;
    font-weight: 700;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $borderClr;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .titleContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      & .picsContainer {
        @media screen and (min-width: 576px) {
          display: none;
        }
      }
    }

    .headerIcon {
      color: $color;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      cursor: pointer;

      img.topTweets {
        width: 20px;
        object-fit: contain;
        color: $color;
      }

      .logoutBtn {
        padding: 10px;
        border-radius: 50%;
        transition: all 450ms;
        color: rgb(220, 63, 63);

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            background: rgba(152, 48, 48, 0.571);
            color: #fff;
          }
        }
      }
    }
  }

  .createTweetContainer {
    @media screen and (max-width: 575px) {
      display: none;
    }
  }

  .navContainerMobile {
    // border-top: 1px solid $borderClr;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 1px 10px -4px rgba($color, $alpha: 1);

    .navMobile {
      width: 100%;
      text-align: center;
      color: rgb(77, 75, 75);
      font-size: 18px;
    }
  }

  @media screen and (min-width: 576px) {
    .navContainerMobile {
      display: none;
    }
    .mobileCreateTweetBtn {
      display: none;
    }
  }

  .mobileCreateTweetBtn{
    position: fixed;
    left: 82%;
    bottom: 60px;
    z-index: 5;
    text-align: center;
    padding: 12px;
    border-radius: 50%;
    color: #fff;
    background: $color;
    cursor: pointer;
    box-shadow: 1px 1px 10px -4px rgba($color, $alpha: 1.0);


    .tweetfeatherBtn {
      width: 25px;
    }
  }

  
}
