.profileSpan {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 10px;

  img {
    background: #ccc;
    border-radius: 50%;
    width: 40px;
    object-fit: contain;
    // height: 40px;
  }

  .userDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    gap: 1px;
    font-size: 14px;
    padding-left: 4px;

    .username {
      font-weight: bold;
      line-height: 1.5;
    }
    .userHandle {
      color: rgb(186, 185, 185);
      align-self: flex-start;
    }
  }
}
