@import "../../pages/Home/style.module.scss";
@import "../../index.scss";

.container {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding-bottom: 10px;

  .bio {
    width: auto;
    margin: auto auto 0;
    display: flex;
    align-self: flex-end;
    align-items: center;
    gap: 5vw;
    padding: 10px;
    border-radius: 40px;
    transition: all 600ms;

    &:hover {
      background: rgba($color, $alpha: 0.3);

      cursor: pointer;
    }
  }

  @media screen and (max-width: 576px) {
      display: none;
  }
}
.nav {
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  // gap: 10px;
  justify-content: flex-start;
  overflow-y: auto;

  .navLogo {
    width: fit-content;
    padding: 10px;
    max-height: 5rem;
    border-radius: 50%;
    transition: background 450ms;

    &:hover {
      background: rgba($color, $alpha: 0.2);
      cursor: pointer;
    }
  }

  .navItems {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & > ul {
      align-self: center;
    }

    .tweetBtn, .tweetfeatherBtn {
      color: #fff;
      background: $color;
      padding: 10px;
      border-radius: 30px;
      cursor: pointer;

      &:hover {
        background: rgba($color-deep, $alpha: 0.8);
      }
    }

    .tweetfeatherBtn {
      border-radius: 50%;
      width: 40px;
      object-fit: contain;
      align-self: center;
    }
  }

  .navItem {
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
    width: fit-content;
    font-weight: 700;
    display: flex;
    gap: 15px;
    border-radius: 40px;
    transition: all 450ms;
    align-items: center;
    margin-bottom: 5px;

    &:hover {
      background: rgba($color, $alpha: 0.2);
      color: $color;
      border-radius: 40px;
    }
  }
}

.dp {
  background: #ccc;
  border-radius: 50%;
  border: 4px solid #373737;
  width: 40px;
  object-fit: contain;
}
